{{!-- <body>



    <style>
        body {
            background-color: #6d6161;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            font-family: arial;

        }

        body {
            background: #eee;
        }

        .wrapper {
            position: absolute;
        }

        .sidebar {
            position: relative;
            width: 250px;
            height: 43rem;
            background: #3b3b3b;
            padding: 10px 0;

        }

        .wrapper .sidebar ul li {
            padding: 15px;
        }

        .wrapper .sidebar ul li a {
            color: #bdb8d7;
            display: block;
        }

        .wrapper .sidebar ul li a .fas {
            width: 25px !important;
        }

        .wrapper .sidebar ul li a .far {
            width: 25px !important;
        }

        .wrapper .sidebar ul li:hover {
            background: #311B92;
        }

        .wrapper .sidebar ul li a:hover {
            color: #fff;
            text-decoration: none;
        }

        .myproject {
            margin-top: 25px;
            color: #ffffffa8;
            font-size: 14px;
            margin-bottom: 0;
        }

        .userProfile {
            position: absolute;
            bottom: 0;
            left: 5%;
            display: flex;

        }

        .userProfile a {
            width: 20px;
            background: #4527A0;
            color: #bdb8d7;
            text-decoration: none;
            font-size: 15px;
        }




        .innerSide {

            margin-top: 4rem;
            border-radius: 2rem;
            background-color: white;
            box-shadow: 13px;


        }

        .pic {
            margin-left: 19rem;
            margin-right: 2rem;
        }
    </style>
    <div>



        <div class="wrapper d-flex">
            <div class="sidebar">
                <div class="innerSide">
                    <ul>
                      
                        <li><a href="#"><i class="fas"></i>Dashboard</a></li>
                         <li><a style="color: black;" href="/admin"><i class="fas fa-arrow-right"></i><strong>Products</strong></a></li>
                        <li><a href="/admin/view-category"><i class="fas"></i>Category</a></li>
                        <li><a href="#"><i class="fas"></i>Orders</a></li>
                        <li><a href="#"><i class="fas"></i>Customers</a></li>
                        <li><a href="#"><i class="fas"></i>Coupons</a></li>

                    </ul>
                </div>

            </div>


        </div>
        <div class="pic">
         <section>
    <div class="container ">
        <div class="row">
           
            <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
                     <h1>Add product</h1>
                    <label for="">Name:</label>
                    <input type="text"  name="name" class="form-control" required>
               
                
                    {{!-- <label for="category">Category:</label>
                    <input type="text" name="category" class="form-control" required> --}}
                         <label for="category">Category:</label>
                    <select name="category" class="form-control" required>
                        <option value="">Select a category</option>
                        {{#each category}}
                        <option value="Category 1">{{this.Cname}}</option>
                        {{/each}}
                        <!-- Add more options as needed -->
                    </select>
                
              
                    <label for="">Price:</label>
                    <input type="number"  name="price" class="form-control" min="0" step="0.01" required>                 
               
              
                    <label for="description">Description:</label>
                    {{!-- <textarea id="description" name="description" class="form-control" rows="3" required></textarea> --}}
                     <input type="text" name="description" class="form-control" required>
                
                    <label for="">Image:</label>
                    <input type="file" name="image" class="form-control-file" accept="image/*" required>
              
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>

        </div>
    </div>
</section>
            
        </div>

    </div>

</body> --}}