<body>
    <style>
        html,
        body {
            height: 100%;
            background-color: #b4bbaf;
            overflow: hidden;
        }
        .row{
                margin-left: 46%;
        }
        h2{
            font-weight: 700;        
        }
    </style>
    <div>
        <div class="wrapper d-flex">
            <div class="sidebar">
                <div class="innerSide">
                    <ul>
                           <li><a href="#"><i class="fas" ></i>Dashboard</a></li>                               
                  <li><a href="/admin" ><i class="fas" ></i>Product</a></li>
                    <li><a href="#" ><i class="fas" ></i>Category</a></li>
                    <li><a href="#" ><i class="fas" ></i>Orders</a></li>
                     <li ><a style="color: black;" href="#"><i class="fas fa-arrow-right"></i><strong>Customers</strong></a></li>
                   
                    <li><a href="#" ><i class="fas" ></i>Coupons</a></li>
                       

                    </ul>
                </div>
            </div>
        </div>

        <section>
            
                <div class="row">

                    <form action="/admin/edit-user/{{users._id}}" method="POST" >
                        <h2 class="text-center mt-5">Block {{users.name}}</h2>
                        <label for="">Name:</label>
                        <input type="text" name="name" class="form-control" value="{{users.name}}">


                        <label for="category">email:</label>
                        <input type="text" name="email" class="form-control" value="{{users.email}}">


                       

                        <button type="submit" class="btn btn-primary mt-3">Block</button>
                    </form>

                </div>
            
        </section>






    </div>
