<header>
<nav class="navbar" style="background-color:#EEE502 ;">
  <form class="form-inline ml-auto" >
    <a href="/login">
    <button class="btn btn-outline-success mr-3" style="background-color: black; color: white;" type="button">
       <img src="/public/project-images/loginorginal.png"alt="Icon" class="mr-2" style="width: 20px; height: 20px;">Log in</button>
    </button>
    </a>
    <a href="/signup">
    <button class="btn btn-outline-danger mr-3" style="background-color: white; color: black;" type="button">
        <img src="/public/project-images/signup.png" alt="Icon" class="mr-2" style="width: 20px; height: 20px;">Sign up</button>
    </a>
  </form>
</nav>
</header>

<body>

    <style>
        body {
            background-color: #EEE502;/* CSS */

  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-in-out forwards;


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

        }
    </style>


    <img src="/public/project-images/image1.jpg" alt="" style="position: absolute;
        width: 727px;
        height: 627px;
        left: 807px;
        top: 115px;">
    <img src="/public/project-images/b0ca32465f36b9b135c021e5f25dc938-PhotoRoom 2.png" alt="" style="position: absolute;
        width: 565px;
        height: 386px;
        left: 551.24px;
        top: 464px;
        transform: rotate(9.73deg);
        ">
    <img src="/public/project-images/double-hamburger-isolated-white-background-fresh-burger-fast-food-with-beef-cream-cheese_90220-1192-PhotoRoom 2.png"
        alt="" style="
        position: absolute;
        width: 316px;
        height: 247px;
        left: 1013px;
        top: 638px;">
    <img src="/public/project-images/photo-1576618148400-f54bed99fcfd-PhotoRoom 3.png" alt="" style="position: absolute;
        width: 194px;
        height: 295px;
        left: 669px;
        top: 317px;">
    <img src="/public/project-images/main logo.png" alt="" style="position: absolute;
        width: 279px;
        height: 237px;
        left: 79px;
        top: 49px;
        box-shadow: 0px 15px 4px rgba(0, 0, 0, 0.25);">
    <img src="/public/project-images/Bake Corner (1).png" alt="" style="position: absolute;
        width: 297px;
        height: 48px;
        left: 76px;
        top: 318px;
        line-height: 48px;
        display: flex;
        align-items: center;

        color: #000000;">
    <div class="footer" style="background-color: rgb(251, 250, 249); 
       position: absolute;
        width: 785px;
        height: 82px;
        left: 750px;
        top: 906px;">
        <img src="/public/project-images/Vector.png" alt="">
        <img src="/public/project-images/facebook-insta.png" alt="" style="position: absolute;
        width: 203px;
        height: 49px;
        left: 31rem;
        top: 1rem;">


    </div>
    <div class="footer1" style="background-color: black;position: absolute;
            width: 750px;
            height: 80px;
            left: 0px;
            top: 906px;">
        <div class="">
            <h5 style="margin-left: 6rem;">About Bakecorner</h5>

            <div>
                <a href="" style="position: absolute;
                    width: 89px;
                    height: 17px;
                    left: 72px;
                    top: 38px;

                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */

                    display: flex;
                    align-items: center;

                    color: #FFFFFF;">who we are ?
                </a>
                <a href="" style="position: absolute;
                width: 72px;
                height: 17px;
                left: 215px;
                top: 38px;

                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */

                display: flex;
                align-items: center;
                 color: #FFFFFF;">Contact us</a>
            </div>
        </div>
    </div>
    <div class="search-bar">
        <form action="/home">
            <input type="text" placeholder="        Enter delivery address" style="position: absolute;
            width: 375px;
            height: 61px;
            left: 107px;
            top: 412px;

            background: #FBF8F8;
            border-radius: 33px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;      
            display: flex;
            align-items: center;
            color: rgba(0, 0, 0, 0.47);">
            <img src="/public/project-images/location 1.png" style="position: absolute;
            width: 39px;
            height: 44px;
            left: 53px;
            top: 422px;" alt="">
            <input type="submit" value="    find food" style="position: absolute;
            width: 141px;
            height: 50px;
            left: 516px;
            top: 417px;

            background: #28CA00;
            border-radius: 18px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;">
        </form>

    </div>


</body>

