

<body>
    <style>
        body {
            background-color: #EEE502;
            background-image: url(/public/project-images/background\ 2.png);
        }
        .form{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        form{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width:25rem;
            
        }
        h1{
            margin-bottom:2rem;
        }
        input{
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-bottom: 2rem;
            width:21rem;
            height:3rem;
            border:none;
            border-radius: 12px;
        }
    </style>
    <div class="outer" style="position: absolute;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 437px;
            height: 578px;
            right: 1%;
            top: calc(59% - 786px/2 - -15px);
            background: #dacdcd52;
            box-shadow: 0px 10px 4px 3px rgba(0, 0, 0, 0.25);
            border-radius: 66px;">
        <div class="form" style="
            height:32rem;">
            <h1>Enter OTP</h1>
          
          
              
   
    <form method="post" action="/reset-password">
      <div>
        <label for="name" style="margin-left: 22%;">We've sent an OTP to your Email.</label>
        <input type="text" style="margin-left: 2rem;" name="otp" required>
        <input type="text" name="OrginalOtp" value="{{otp}}" hidden>
        
        <input type="text" name="userEmail" value="{{userDetails.email}}" hidden>
        <input type="text" name="userPassword" value="{{userDetails.password}}" hidden>
        <input type="text" name="userCpassword" value="{{userDetails.Cpassword}}" hidden>
      </div>
      
      
      {{!-- <button type="submit" style="background-color: rgb(232 153 5);
    border-radius: 14px;
    border: none;" ></button> --}}
    <input type="submit" class="btn btn-success" value="verify Otp">
      <div class="already sign up"> 
        
                <a href="/signup">Resend</a>

            </div>
    </form>
  
            
            
        </div>
    </div>


</body>

