
.shopping-cart-1-icon,
.user1-1-icon {
  position: absolute;
  top: 0;
  left: 58px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.shopping-cart-1-icon {
  left: 0;
  width: 28px;
}
.accion-buttons {
  position: absolute;
  top: 20px;
  left: 1204px;
  width: 83px;
  height: 25px;
}
.in-orders-over {
  font-weight: 500;
}
.free-delivery-in-container {
  position: absolute;
  top: 86px;
  left: 383px;
  font-size: 16px;
  display: inline-block;
  width: 831px;
  height: 30px;
  font-family: var(--font-poppins);
}
.buy-now {
  position: absolute;
  top: 1017px;
  left: 1039px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: #fafafa;
}
.user-delivery-address-child,
.user-delivery-address-child1,
.user-delivery-address-inner,
.user-delivery-address-item {
  position: absolute;
  top: 269px;
  left: 92px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 640px;
  height: 104px;
}
.user-delivery-address-child1,
.user-delivery-address-inner,
.user-delivery-address-item {
  top: 469px;
}
.user-delivery-address-child1,
.user-delivery-address-inner {
  top: 1017px;
}
.user-delivery-address-child1 {
  top: 1244px;
}
.user-delivery-address-child2,
.user-delivery-address-child3,
.user-delivery-address-child4,
.user-delivery-address-child5,
.user-delivery-address-child6 {
  position: absolute;
  top: 1244px;
  left: 837px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 580px;
  height: 104px;
}
.user-delivery-address-child3,
.user-delivery-address-child4,
.user-delivery-address-child5,
.user-delivery-address-child6 {
  top: 1017px;
}
.user-delivery-address-child4,
.user-delivery-address-child5,
.user-delivery-address-child6 {
  top: 685px;
  left: 92px;
  width: 1325px;
  height: 209px;
}
.user-delivery-address-child5,
.user-delivery-address-child6 {
  top: 469px;
  left: 837px;
  width: 580px;
  height: 104px;
}
.user-delivery-address-child6 {
  top: 269px;
}
.addressarea-and-street,
.locaity,
.name,
.pincode {
  position: absolute;
  top: 304px;
  left: 142px;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  display: inline-block;
  width: 224px;
  height: 41px;
}
.addressarea-and-street,
.locaity,
.pincode {
  top: 500px;
}
.addressarea-and-street,
.locaity {
  left: 892px;
}
.addressarea-and-street {
  top: 728px;
  left: 142px;
  width: 512px;
}
.citydistricttown,
.state {
  top: 1046px;
  color: var(--color-gray-100);
}
.citydistricttown {
  position: absolute;
  left: 146px;
  font-family: var(--font-inter);
  display: inline-block;
  width: 414px;
  height: 41px;
}
.state {
  left: 892px;
  width: 224px;
}
.alternate-phoneoptional,
.cancel,
.digit-mobile-number,
.landmarkoptional,
.state {
  position: absolute;
  font-family: var(--font-inter);
  display: inline-block;
  height: 41px;
}
.cancel {
  top: 1539px;
  left: 832px;
  color: #3e65ee;
  width: 224px;
  cursor: pointer;
}
.alternate-phoneoptional,
.digit-mobile-number,
.landmarkoptional {
  top: 1275px;
  left: 142px;
  color: var(--color-gray-100);
  width: 400px;
}
.alternate-phoneoptional,
.digit-mobile-number {
  top: 1274px;
  left: 892px;
  width: 458px;
}
.digit-mobile-number {
  top: 296px;
}
.bakery,
.bevarages,
.fruits,
.shop,
.veegetables {
  position: absolute;
  top: 2px;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 71.81px;
}
.bakery,
.bevarages,
.shop,
.veegetables {
  top: 0;
  left: 99px;
  width: 165.72px;
}
.bakery,
.bevarages,
.shop {
  left: 241px;
  width: 139.94px;
}
.bakery,
.shop {
  top: 2px;
  left: 467.71px;
  width: 66.29px;
}
.bakery {
  top: 0;
  left: 366px;
}
.submenu {
  position: absolute;
  top: 20px;
  left: 587px;
  width: 534px;
  height: 23px;
  font-size: var(--font-size-sm);
  font-family: var(--font-poppins);
}
.user-delivery-address-child7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-yellow);
  border-bottom: 13px solid var(--color-olive);
  box-sizing: border-box;
  width: 1516px;
  height: 119px;
}
.user-delivery-address-child9 {
  position: absolute;
  top: 34px;
  left: 177px;
  border-radius: 12px;
  background-color: #fefdfd;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 520px;
  height: 51px;
}
.search-for-products {
  position: absolute;
  top: 44px;
  left: 194px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  width: 222px;
}
.image-75-icon {
  position: absolute;
  top: 37px;
  left: 638px;
  width: 52px;
  height: 42px;
  object-fit: cover;
}
.vector-icon {
  position: absolute;
  top: 20px;
  left: 12px;
  width: 83px;
  height: 71px;
}
.user-delivery-address-child10 {
  position: absolute;
  top: 29px;
  left: 808px;
  border-radius: 14px;
  background-color: #2eb60c;
  width: 136px;
  height: 51px;
}
.david {
  position: absolute;
  top: 45px;
  left: 833px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  display: inline-block;
  width: 57px;
}
.image-76-icon {
  position: absolute;
  top: 25px;
  left: 1255px;
  width: 53px;
  height: 50px;
  object-fit: cover;
}
.div {
  position: absolute;
  top: 32px;
  left: 1301px;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 19px;
}
.user-delivery-address-child11 {
  position: absolute;
  top: 53.41px;
  left: 911.48px;
  width: 5.87px;
  height: 7.54px;
}
.image-77-icon,
.user-delivery-address-child12 {
  position: absolute;
  top: 54px;
  left: 916.5px;
  width: 6.77px;
  height: 7.65px;
}
.image-77-icon {
  top: 29px;
  left: 1107px;
  width: 50px;
  height: 45px;
  object-fit: cover;
}
.wishlist {
  position: absolute;
  top: 80px;
  left: 1114px;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  display: inline-block;
  width: 39px;
}
.image-78-icon {
  position: absolute;
  top: 18px;
  left: 1401px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.cart,
.profile {
  position: absolute;
  top: 80px;
  left: 1414px;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  display: inline-block;
  width: 35px;
}
.cart {
  left: 1273px;
  width: 25px;
}
.user-delivery-address-child13 {
  position: absolute;
  top: 116px;
  left: 0;
  width: 1512px;
  height: 85px;
  object-fit: cover;
}
.delivery-address1 {
  position: absolute;
  top: 150px;
  left: 593px;
  font-size: 36px;
  color: var(--color-black);
}
.image-81-icon {
  position: absolute;
  top: 128px;
  left: 515px;
  width: 56px;
  height: 57px;
  object-fit: cover;
}
.user-delivery-address-child14 {
  position: absolute;
  top: 2256px;
  left: 0;
  background-color: var(--color-black);
  width: 1539px;
  height: 371px;
}
.facebook2 {
  margin: 0;
}
.facebook-twitter-youtube-container2 {
  top: 2375px;
  left: 1048px;
  width: 92px;
}
.facebook-twitter-youtube-container2,
.help2,
.payment-cancellation-and-container2,
.social2 {
  position: absolute;
  font-size: var(--font-size-5xl);
  display: inline-block;
}
.social2 {
  top: 2328px;
  left: 1054px;
  text-decoration: underline;
  width: 77px;
}
.help2,
.payment-cancellation-and-container2 {
  top: 2375px;
  left: 644px;
  width: 243px;
}
.help2 {
  top: 2321px;
  left: 675px;
  font-size: var(--font-size-13xl);
  text-decoration: underline;
  width: 60px;
}
.who-we-are-container2 {
  top: 2375px;
  left: 209px;
  font-size: var(--font-size-5xl);
  white-space: pre-wrap;
  width: 139px;
}
.about-bake-corener2,
.mail-us2,
.who-we-are-container2 {
  position: absolute;
  display: inline-block;
}
.about-bake-corener2 {
  top: 2314px;
  left: 165px;
  font-size: var(--font-size-13xl);
  text-decoration: underline;
  width: 256px;
}
.mail-us2 {
  top: 2596px;
  left: 1178px;
  font-size: var(--font-size-5xl);
  width: 325px;
}
.brandicofacebook-rect-icon {
  position: absolute;
  top: 2374px;
  left: 1159px;
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.step-up-india-container1 {
  position: absolute;
  top: 2577px;
  left: 619px;
  font-size: var(--font-size-mini);
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-family: var(--font-raleway);
  white-space: pre-wrap;
  display: inline-block;
  width: 516px;
}
.user-delivery-address-child15 {
  position: absolute;
  top: 2339px;
  left: -209.82px;
  background-color: var(--color-yellow);
  filter: blur(554px);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 728.75px;
  height: 244.79px;
  transform: rotate(42.44deg);
  transform-origin: 0 0;
}
.user-delivery-address-child16 {
  position: absolute;
  top: 1491px;
  left: 142px;
  border-radius: 29px;
  background-color: #c48100;
  width: 581px;
  height: 137px;
  cursor: pointer;
}
.save-and-deliver {
  position: absolute;
  top: 1541px;
  left: 268px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
}
.user-delivery-address1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2627px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-15xl);
  color: var(--color-white);
  font-family: var(--font-league-spartan);
}